body{
  overflow-x: hidden;
}
#rotator {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.small-logo {
  width: 45%;
}

.navbar-default {
  background-color: #FFF;
  border-color: transparent;
  border-right: transparent;
}

nav {
  width: 100vw;
  margin-right: 25px;
}

nav ul {
  overflow: hidden;
  width: 100vw;
}
#addPaddingRight {
  padding-right: 0;
}

/*#contactPadding{
  padding-right: 5%;
}*/

#logo {
  width: 90%;
}

#navbar {
  overflow-x: hidden;
}

/**** Footer ****/
#navbar {
  text-align: center;
}
.footer{
    display: block;
    clear: both;
}
.footerSection{
    padding: 25px 2px 5px 2px;
}

#copyright{
  text-align: center;
  padding-top: 1%;
  font-family: "Spinnaker";
  text-transform: uppercase;
  font-size: 14px;
}
.follow{
  padding: 2% 0 .5% 0;
  font-family: 'great vibes';
  text-align: center;
  font-size: 1.4em;
}
.icon-lg {
  color: black;
  text-align: center;
}
.list-inline {
  padding: 10px 0 10px 0;
}
#copyright-footer {
  text-align: center;
}
.social {

}


/*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
#aboutPadding {
  margin-top: -21px;
}
#copyright {
  font-size: 12px;
}
.prime-nav {
  margin-left: -50px;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
#aboutPadding {
  padding-top: -21px;
}
}

/* Nexus 10(portrait and landscape) ----------- */
@media only screen and (min-device-width : 800px) 
and (max-device-width : 1280px) {
/* Styles */

}

/* Nexus 10 (landscape) ----------- */
@media only screen and (min-device-width : 800px) 
and (max-device-width : 1280px) 
and (orientation : landscape) {
/*#homePadding{
  padding-left: 9%;
}*/
.logo #logo{
  width: 350px;
}
.container {
  width: 100vw;
}

}

/* Nexus 10 (portrait) ----------- */
@media only screen and (min-device-width : 800px) 
and (max-device-width : 1280px) 
and (orientation : portrait) {
body {
  width: 100vw;
  overflow-x: hidden;
}
.logo #logo{
  width: 200px;
}
#homePadding{
  padding-left: 10%;
}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/*#homePadding{
  padding-left: 9%;
}*/
.logo #logo{
  width: 150px;
}
.container {
  width: 100vw;
}
#homePadding{
  padding-left: 15%;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
body {
  width: 100vw;
  overflow-x: hidden;
}
.logo #logo{
  width: 200px;
}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1000px) {
#homePadding {
  padding-left: 10.5%;
}
#rotator {
/*    padding-left: 12%;
    padding-right: 12%;*/
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*margin-top: 1%;*/
}
}

@media only screen and (min-width : 1224px) {
#homePadding {
  padding-left: 12.5%;
}
#rotator {
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*margin-top: 1%;*/
}
}

@media only screen and (min-width : 1440px) {
#homePadding {
  padding-left: 16.5%;
}
#rotator {
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
#homePadding {
  padding-left: 25%;
}
#contactPadding{
  padding-right: 15%;
}
#rotator {
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/******Screen Break 1823 *******/
@media only screen and (min-width : 900px) 
and (max-width : 1823px) {
  .nav {
  margin-left: 9%;
  ;
}
}

/***** General Responsive Design *****/

@media (min-width : 20px) and (max-width : 766px) {
  .hidden {
display: visible;
}
.nav {
  margin-left: 1.8%;
}
}
    /*header .fancy {
      margin: -20%;
    }
    header .smaller{
      margin: 21%;
    }
  header .picture {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    header .picture .one {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
    }
    header .picture .one h1 {
        font-size: 53px;
    }
    header .picture .one p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}*/
@media(min-width:600px) and (max-width:839px) {
header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
  margin-top: 200px;
  font-size: 3em;
}
.smaller {
  text-transform: none;
}
.logo {
  width: 275px;
}
.nav {
  margin-left: 5%;
  margin-right: 7%;
}
.paddingHome {
}
}

@media(min-width:840px) and (max-width:1000px) {
header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
  margin-top: 200px;
  font-size: 3em;
}
.smaller {
  text-transform: none;
}
.nav {
  margin-left: 5%;
  margin-right: 7%;
}
.paddingHome {
}
}
@media(min-width:1001px) and (max-width:1350px) {
header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
  margin-top: 200px;
  font-size: 3em;
}
.smaller {
  text-transform: none;
}
.nav {
  margin-left: 2%;
  margin-right: 7%;
}
.paddingHome {
}
}

@media(min-width:1351px) and (max-width:1700px) {
header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
  margin-top: 200px;
  font-size: 3em;
}
.smaller {
  text-transform: none;
}
.nav {
  margin-left: 2.5%;
  margin-right: 7%;
}
.paddingHome {
}
}
/*    header {
        min-height: 100%;
    }*/
/*    header .picture {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    /*}*/
/*    header .picture .one {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;*/
   /* }*/
    
/*    header .picture .one p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;*/
/*    }
}*/

/* NEXUS (portrait and landscape) ----------- */
/* Smartphone (Nexus 4) */
@media screen and (device-width : 384px) and (device-height : 640px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait){
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
  margin-top: 200px ;
  font-size: 3em;
}
.smaller {
  text-transform: none;
/*  padding-bottom: 20%;*/
}
}

@media screen and (device-width: 640px) and (device-height : 384px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape){
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

/* Smartphone (Nexus 5 and Nexus 5X) */
@media screen and (device-width : 360px) and (device-height : 640px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

@media screen and (device-width : 640px) and (device-height : 360px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 1.1em !important;
  padding-top: 150px;
}
.fancy{
  margin-top: -175px;
}

.smaller {
  text-transform: none;
  font-size: 1.3em;
/*  padding-bottom: 70%;*/
}
}

/* Smartphone (Nexus 6) (Nexus 6P) */
@media screen and (device-width : 412px) and (device-height : 732px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

@media screen and (device-width : 732px) and (device-height : 412px) {
  header {
    position: relative;
   
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 3.8em;
  padding-top: 3%;
}
.fancy{
  margin-top: -20px;
}

.smaller {
  font-size: 1.5em;
  text-transform: none;
  padding-bottom: 35%;

}
}

/* Tablet (Nexus 7) */
@media screen and (device-width : 600px) and (device-height : 960px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
  
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#aboutPadding {
  margin-top: -21px;
}
}

@media screen and (device-width : 960px) and (device-height : 600px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 3.8em;
  padding-top: 3%;
}
.fancy{
  margin-top: -20px;
}

.smaller {
  font-size: 1.5em;
  text-transform: none;
/*  padding-bottom: 35%;*/

}
}

/* Tablet (Nexus 10) */
@media screen and (device-width : 800px) and (device-height : 1280px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }

.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 3.8em;
  padding-top: 3%;
}
.fancy{
  margin-top: 300px !important; 
}

.smaller {
  font-size: 1.5em;
  text-transform: none;
  /*padding-bottom: 35%;*/
}
}

@media screen and (device-width : 1280px) and (device-height : 800px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 3.8em;
  padding-top: 3%;
}
.fancy{
  margin-top: -150px;
}

.smaller {
  font-size: 1.5em;
  text-transform: none;
  /*padding-bottom: 35%;*/
}
}

/* IPHONE AND IPAD (Portrait and Landscape) */

/* Smartphone (iPhone 4) */
@media screen and (device-width : 320px) and (device-height: 480px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 1.9em;
  padding-top: 3%;
}
.fancy{
  margin-top: 175px;
}

.smaller {
  text-transform: none;
  font-size: .9em;
}
}

@media screen and (device-width : 480px) and (device-height : 320px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 2em;
  padding-top: 3%;
}
.fancy{
  margin-top: 125px;
}

.smaller {
  text-transform: none;
  font-size: .9em;
  /*padding-bottom: 5%;*/
}
}

/* Smartphone (iPhone 5) */
@media screen and (device-width : 320px) and (device-height: 568px) {
  header {
    position: relative;

    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
  font-family: "Montez";
  text-transform: none;
  font-size: 1.9em;
  padding-top: 3%;
}
.fancy{
  /*margin-top: 230px;*/
}

.smaller {
  text-transform: none;
  font-size: .9em;
}
}

@media screen and (device-width : 568px) and (device-height : 320px) {

}

/* Smartphone (iPhone 6) */
@media screen and (device-width : 375px) and (device-height: 667px) {

}

@media screen and (device-width : 667px) and (device-height : 375px) {

}

/* Smartphone (iPhone 6 Plus) */
@media screen and (device-width : 414px) and (device-height: 736px) {

}

@media screen and (device-width : 736px) and (device-height : 414px) {

}

/* iPad (iPad Mini and Standard) */
@media screen and (device-width : 768px) and (device-height: 1024px) {
.navbar-nav {
  margin-left: 10%;
  float: default;
}
}

@media screen and (device-width : 1024px) and (device-height : 768px) {
/***********DEFAULT*******/

}

/* iPad (iPad Pro) */
@media screen and (device-width : 1024px) and (device-height: 1366px) {

}

@media screen and (device-width : 1366px) and (device-height : 1024px) {

}

/****** GALAXY DEVICES*****/
/* Phone (Galaxy Note 3 + II + Galaxy S III + Galaxy S5) */
@media screen and (device-width : 360px) and (device-height: 640px) {

}

@media screen and (device-width : 360px) and (device-height : 640px) {

}

/***** BLACKBERRY DEVICES
/* Phone (BlackBerry Z30) - Same as Galaxy - */
/*@media screen and (device-width : 360px) and (device-height: 640px) {

}

@media screen and (device-width : 360px) and (device-height : 640px) {

}*/

/* Tablet (BlackBerry Playbook) */
@media screen and (device-width : 600px) and (device-height: 1024px) {

}

@media screen and (device-width : 1024px) and (device-height : 600px) {

}
/***** VARIOUS DEVICES *****/
/* LG Phone (LG Optimus L70) */
@media screen and (device-width : 384px) and (device-height: 640px) {

}

@media screen and (device-width : 640px) and (device-height : 384px) {

}

/* Tablet Kindle (Kindle Fire) */
@media screen and (device-width : 1600px) and (device-height: 2560px) {

}

@media screen and (device-width : 2560px) and (device-height : 1600px) {

}

/* Nokia Phone (Nokia Lumia 520) */
@media screen and (device-width : 320px) and (device-height: 533px) {

}

@media screen and (device-width : 533px) and (device-height : 320px) {

}

/* Nokia Phone/Microsoft (Nokia N9 and Lumia 550) */
@media screen and (device-width : 360px) and (device-height: 640px) {

}

@media screen and (device-width : 640px) and (device-height : 360px) {

}

/* Microsoft (Microsoft Lumia 950) */
@media screen and (device-width : 360px) and (device-height: 640px) {

}

@media screen and (device-width : 640px) and (device-height : 360px) {

}