@import url('https://fonts.googleapis.com/css?family=Marck+Script');

.image {
  padding: 10px;
  border: solid 7px #e6e6e6;
  z-index: 0;
}

.image{
  width: 95%;
  display: block;
  position: relative;
  height: auto;
  border-radius: 50%;
}
#mini-about {
	width: 75%;
}
.title {  
	text-align: center;
	border: 2px solid #cdcdcd;
	border-radius: 80px 0px;
	background-color: #ffc967;
	width: 200px;
	margin-left: 6%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Marck Script";
	font-size: 1.8em;
	margin-top: -40px;
	position: absolute;
	z-index: 1;
}

.titleLong {
	text-align: center;
	border: 2px solid #cdcdcd;
	border-radius: 80px 0px;
	background-color: #ffc967;
	width: 230px;
	margin-left: 6%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Marck Script";
	font-size: 1.8em;
	margin-top: -40px;
	position: absolute;
	z-index: 1;
}
#test {
	z-index: 0;
	margin-bottom: 50px;
}
#contents {
	margin-left: 5%;
}
.column {
	width: 48%;
	float: left;
	display: inline-block;
	margin-bottom: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
}
.parallax {
	background-image: url("../assets/gallery147.jpg");
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
}

.separator {
  width: 80%;
  border-color: rgba(35,35,35,.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

/*header {
	padding-left: 4%;
}*/
.profile {
	display: block;
	box-shadow: 0 0 0 10px hsl(0, 0%, 60%),
    0 0 0 15px hsl(0, 0%, 30%);
	width: 80%;
	max-width: 370px;
	height: 100%;
	margin-top: 45px;
	padding: 10px;
	border-radius: 0%;
}
.name {
	color: #525252;
	margin-top: 40px;
	text-align: center;
	font-family: 'great vibes';
	font-size: 1.5em;
}
.blip {
	padding-top: 30px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 30px;
	text-align: center;
	line-height: 1.4em;
	text-align: justify;
}

.buttons {
	display:block;
	text-align: center;
	border: 2px solid #cdcdcd;
	border-radius: 80px 0px;
	background-color: #ffc967;
	width: 260px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-family: "Marck Script";
	font-size: 1.8em;
	z-index: 1;
}



@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 901px)
{
    .column {
        padding: 10px;
/*        margin-left:;*/
    }

}

@media only screen and (max-width: 767px)
{
    .column {
    /*    float: none;*/
        width: 90%;
        padding: 0px;
        margin: 0 15px 0;
    } 
    nav {
    	margin-right: 3%;
    }

/*    .title {
    	margin-left: 100px;
    }
    .image {
	  padding: 10px;
	  border: solid 7px #e6e6e6;
	  z-index: 0;
	}*/

	.image{
	  width: 95%;
	  display: block;
	  position: relative;
	  height: auto;
	  border-radius: 50%;
	  margin-left: 0px;
	}
}

@media only screen and (min-width: 1224px) {
#content{
	width: 100%;
	float: center center;
/*	padding-left: 18%;*/
	}

}

/*PARALLEX*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
	.parallex {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.parallex2 {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.parallex {
		background-image: url('../assets/gallery147');
		background-attachment: scroll;
		height: 250px;
	}
	.parallex2 {
		background-image: url('../assets/gallery124');
		background-attachment: scroll;
		height: 250px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
	.parallex {
		background-image: url('../assets/gallery147');
		background-attachment: scroll;
		height: 250px;
	}
	.parallex2 {
		background-image: url('../assets/gallery124');
		background-attachment: scroll;
		height: 250px;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
	.parallex {
		background-image: url('../assets/gallery147.jpg');
		height: 250px;
		background-attachment: scroll;
	}
		.parallex2 {
		background-image: url('../assets/gallery124.jpg');
		height: 250px;
		background-attachment: scroll;
	}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
	.parallex {
		background-image: url('../assets/gallery147.jpg');
		background-attachment: scroll;
		height: 250px;
	}
	.parallex2 {
		background-image: url('../assets/gallery124.jpg');
		background-attachment: scroll;
		height: 250px;
	}
}